
#links{
    text-align: right;
}

#doo
{
    
    
    margin-left: 420px;
    padding: 20px;
    border-radius:50px;
  
    width : 600px;
    
    border-color: grey;
    
    border-width: 1px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#pic{
    margin-left: 600px;
  
}
#boo
{
    margin-left: 650px;
    margin-top: 20px;
}

#mike
{
    width: 20px;
}



#ada{
    margin-left: 50px;
    width: 400px;
}

#sms{
    margin-left: 520px;
    background-color:rgb(28, 104, 152);
    color: white;
}

#adv{
    color:red ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    
    }
#frm{
        margin-left: 30px;
}

